.circle {
  height: 40px;
  width: 40px;
  background-color: rgb(235, 154, 167);
  border-radius: 50%;
  display: inline-block;
}

.inputMessage {
  display: block;
  position: absolute;
  bottom: 20px;
  height: 15px;
  width: 70%;
  overflow: hidden;
  resize: none;
  padding: 10px;
  border-radius: 20px;
  margin-left: 20px;
  border-color: rgb(168, 164, 164);
}
.sendButton {
  position: relative;
  top: 18px;
  left: 420px;
  width: 80px;
  height: 30px;
  border: none;

  box-shadow: 0px 14px 9px -15px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  background-color: #94ffd3;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.message {
  display: flex;
  column-gap: 18px;
}

.messageContent {
  background-color: rgba(221, 220, 220, 0.747);
  padding: 10px;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
}
